<c:template xmlns:c="core"
    xmlns:w="widgets"
    name="ui/components/buttons/simple-button"
    params="label">
    
    <button type="button" 
        class="simple-button" 
        w:widget="ui/components/buttons/simple-button/simple-button-widget">

        $label
        
    </button>

</c:template>